{% include "header.html" %}

<section class="p-hero">
	<div class="l-container">
		<div class="p-hero__inner">
			<h1 class="p-hero__ttl">40代ランナーのリアルレビュー</h1>
		</div>
	</div>
</section>

<div class="l-container">
	<div class="l-topLayout">
		<main class="l-main">
			<div class="p-main">
				<h2 class="p-main__title">新着記事</h2>
				<a href="/posts/post01/" class="p-card">
					<img class="p-card__img" src="/images/post01-sum.jpg">
					<div>
						<h3 class="p-card__title">GEL-NIMBUS26は1,772kmでもまだ使えるのか？寿命はどれくらいなのか？</h3>
						<p>そんな疑問を持っている方に向けて、実際にGEL-NIMBUS26を1足で1,772km走ったリアルな状態をお伝えします。</p>
						<p>公開日：2026.04.21</p>
					</div>
				</a>
				<a href="/posts/post02/" class="p-card">
					<img class="p-card__img" src="/images/post02-sum.jpg">
					<div>
						<h3 class="p-card__title">GEL-NIMBUSは合わない？1080v15に乗り換えるべきか履き比べで分かった結論</h3>
						<p>そんな疑問を持っている方に向けて、実際にGEL-NIMBUS26を1足で1,772km走ったリアルな状態をお伝えします。</p>
						<p>公開日：2026.05.02</p>
					</div>
				</a>
			</div>
		</main>
		<aside class="l-side">
			<div class="p-side">
				<div class="p-sideBox">
					<h3 class="p-sideBox__title">プロフィール</h3>
					<div class="p-sideBox__img">
						<img src="/images/profile.jpg">
					</div>
					<p>40代ランナー</p>
					<p>ラン歴5年程</p>
				</div>
			</div>
		</aside>
	</div>
</div>


{% include "footer.html" %}